<h1 class="title-page"><%= link_to "Справка", help_path %> → Клиенты</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Клиенты делятся на две категории "действительные" и "потенциальные". При добавлении клиента в базу, клиент по умолчанию добавляется как "действительный", чтобы он был потенциальным, достаточно при добавлении поставить галочку "Потенциальный".</p>
    <p>
      На главной странице клиентов отображена таблица, в которой отображена информация о клиентах(фамилия, имя, телефоны и т.д.)
    </p>
    <p>Для того чтобы понять обращался к вам клиент ранее или нет, можно набрать его фамилию в "быстром поиске".</p>
    <p>Для просмотра подробной информации о клиенте, нажмите на значок "глазка" справа. В подробной информации можно посмотреть когда последний раз клиент к вам обращался, или же нажать кнопку "Клиент только что обратился" для того чтобы зафиксировать это время. Есть возможность посмотреть объекты недвижимости принадлежащие этому клиенту.</p>
  </div>
</div>