<h1 class="title-page">Справка</h1>
<ul class="help-links">
  <li><%= link_to "Поиск", help_search_path %></li>
  <li><a href="#">Клиенты</a></li>
  <li><a href="#">Объекты</a></li>
  <li><a href="#">Персонал</a></li>
  <li><a href="#">Задачи</a></li>
  <li><a href="#">Сделки</a></li>
  <li><a href="#">Отчеты</a></li>
</ul>