<h1 class="title-page">Отчеты</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "отчеты" выводит определенную статистику за определенный период времени.</p>
    <p>Раздел "отчеты" предназначен только для администраторов, где он может следить за динамикой развития своей компании в финансовом плане(информация берется из раздела "сделки"), за активностью сотрудников, за общей статистикой.</p>
  </div>
</div>