<h1 class="title-page">Сделки</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "сделки" очень удобен для введения учета ваших успешных сделок.</p>
    <p>На главной страницы "сделок" также имеется возможность быстрого поиска, сортировки по разным полям таблицы.</p>
    <p>Как заключить сделку? Надо всего лишь пойти в раздел "клиенты" найти того клиента с которым вы хотите провести сделку, и нажать на ссылку "сделка", либо войти в подробную информацию клиента и нажать на кнопку "заключить сделку" – разницы нет. Сделку заключить можно только с действующим клиентом, с потенциальным такого сделать нельзя. Как поменять потенциального клиента на действующего, стоит всего лишь добавить к этому клиенту объект недвижимости и он сам автоматически перейдет с разряда "потенциальных клиентов" в разряд "действующие клиенты". Либо отредактировать клиента убрав галочку "потенциальный клиент"</p>
    <p>В форме заключения сделки, вы указываете тип сделки(продажа, купля, аренда и т.д), название сделки, ее описание, назначаете ответственного, можете указать объект сделки, если такой имеется, сумму, и указать оплачена ли сделки или нет. Если сделка оплачена и имеется объект недвижимости, то этот объект автоматически перейдет в разряд "не активных" объектов недвижимости</p>
    <p>Сделку также как и любые другие сущности можно удалить/редактировать. Есть возможность прикреплять к сделке соответствующие документы(договора, юридические бумаги и т.д), что позволяет естественным образом структурировать электронный документооборот в вашей фирме.</p>
  </div>
</div>