<h1 class="title-page"><%= link_to "Справка", help_path %> → Персонал</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "Персонал" предназначен для управления вашими сотрудниками в системе "Этванс"</p>
    <p>Пройдя в сам раздел, вы увидите всех сотрудников которых вы зарегистрировали в системе.</p>
    <p>Их можно удалять/редактировать/просматривать подробную информацию</p>
  </div>
</div>