<%= form_tag(password_resets_path, :method => :post, :class => "well form-inline", :id => "send-to-email") do %>
  <fieldset>
  <%= flash_msg(flash[:notice]) %>
  <legend>Password recovery</legend>
  <div class="control-group">
  <div class="controls">
    <%= email_field_tag :email, params[:email], :placeholder => "Enter your email..." %>
  </div>
  </div>
  <div class="form-actions">
  <%= submit_tag 'Send', :class => "btn" %>
  <button type="reset" class="btn cancel-form">Back</button>
  </div>
  </fieldset>
<% end %>

