<h1>Password Reset</h1>
<%= flash_msg(flash[:notice]) %>
<%= form_tag password_resets_path, :method => :post do %>
  <%= email_field_tag :email, params[:email] %>
  
  <%= submit_tag 'Reset Password' %>
<% end %>

