<div id="task_form">
  <%= form_for(@task, :html => {:class => "form-horizontal"}) do |f| %>
    <%= error_messages_for(@task) %>
    <fieldset>
      <legend></legend>
    </fieldset>
  <% end %>
</div>