<div class="links-type-tasks">
  <%= link_to 'Мои задачи',  tasks_path %>
  <%= link_to 'Задачи, поставленные администратором', adm_tasks_path %>
  <%= link_to 'Задачи, поставленные персоналом', usr_tasks_path %>
</div>
<div class="clear"></div>