<div class="links-type-tasks">
  <%= link_to 'Мои задачи',  tasks_path %>
  <%= link_to 'Задачи, поставленные мной', adm_tasks_path %>
  <%= link_to 'Задачи персонала', usr_tasks_path %>
</div>
<div class="clear"></div>