<div id="search-page">
  <div class="row">
    <div class="span12" id="search-die">
      
    </div>
    <div>
      <% @subjects.each do |s| %>
      <div>
        <%= s.address %>
      </div>
      <% end %>
    </div>
  </div>
</div>