<%= form_for @socialstatus do |f| %>
  <fieldset>
    <div class="control-group">
      <label><%= f.label :title, "Наименование" %></label>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>
 
    <div class="form-actions">
      <%= f.submit @socialstatus.button_value, :class => "btn-primary" %>
      <button type="reset" class="btn cancel-form">Отмена</button>
    </div>
  </fieldset>
<% end %>

