<div id="search-wrapper">
  <form action="">
    <!-- TYPE DEAL: -->
    <div class="field">
      <label class="title" for="type-deal">Сделка:</label>
      <div class="condition-block" id="type-deal">
        <input type="radio" id="radio1" name="type-deal" value="purchase">
        <label for="radio1">Купля</label>
        <input type="radio" id="radio2" name="type-deal" value="sale">
        <label for="radio2">Продажа</label>
        <input type="radio" id="radio3" name="type-deal" value="rent">
        <label for="radio3">Аренда</label>
        <input type="radio" id="radio4" name="type-deal" value="pick">
        <label for="radio4">Съем</label>
        <input type="radio" id="radio5" name="type-deal" value="exchange">
        <label for="radio5">Обмен</label>
      </div>
    </div>
    <!-- CITIES: -->
    <div class="field">
      <label for="city" class="title">Город:</label>
      <div class="condition-block">
        <select name="city" id="city" class="selectmenujs">
          <option value="kst" selected>Костанай</option>
          <option value="lsk">Лисаковск</option>
          <option value="rdn">Рудный</option>
        </select>
      </div>
    </div>
    <!-- OBJECTS: -->
    <div class="field">
      <label for="object-sale" class="title">Объект:</label>
      <div class="condition-block">
        <select name="object-sale" id="object-sale" class="selectmenujs">
          <option value="flat" selected>Квартира</option>
          <option value="penthouse">Коттедж</option>
          <option value="room">Комната</option>
        </select>
      </div>
    </div>
    <!-- TOWNSHIP: -->
    <div class="field">
      <label for="township" class="title">Район:</label>
      <div class="condition-block">
        <select name="township" id="township" class="selectmenujs">
          <option value="ksk">КСК</option>
          <option value="kgbi">КЖБИ</option>
          <option value="centr">Центр</option>
          <option value="zapadnii">Западный</option>
        </select>
      </div>
    </div>
    <!-- PRICE: -->
    <div class="field">
      <label for="price" class="title">Цена:</label>
      <div class="condition-block">
        <div id="price"></div>
        <input type="text" id="price-label" class="input-slider" name="price">
      </div>
    </div>
    <!-- NUMBER OF ROOMS: -->
    <div class="field">
      <label for="numrooms" class="title">Количество комнат:</label>
      <div class="condition-block">
        <div id="numrooms"></div>
        <input type="text" id="numrooms-label" class="input-slider" name="numrooms">        
      </div>
    </div>
    <!-- SQUARE -->
    <div class="field">
      <label for="square" class="title">
        Площадь:
      <p class="detail-options"><a id="square-detail">подробнее</a><span class="ui-icon ui-icon-gear"></span></p>
      </label>
      <div class="condition-block">
        <div id="square"></div>
        <input type="text" id="square-label" class="input-slider" name="square">
      </div>
    </div>
    <!-- OPTION SQUARE FORM -->
    <div class="hide" id="option-square-form">
      <!-- kitchen square -->
      <div class="field extendblock">
        <label for="kitchen-square" class="title-detail">
          площадь кухни:
        </label>
        <div class="condition-block">
          <div id="kitchen-square"></div>
          <input type="text" id="kitchen-square-label" class="input-slider" name="kitchen-square">
        </div>
      </div>
      <!-- living square -->
      <div class="field extendblock">
        <label for="living-square" class="title-detail">
          жилая площадь:
        </label>
        <div class="condition-block">
          <div id="living-square"></div>
          <input type="text" id="living-square-label" class="input-slider" name="living-square">
        </div>
      </div>      
    </div>
  <!-- FLOOR -->
  <div class="field">
    <label for="floor" class="title">Этаж:</label>
    <div class="condition-block">
      <div id="floor"></div>
      <input type="text" id="floor-label" class="input-slider" name="floor">
    </div>
  </div>
  <!-- EXTENDED OPTIONS -->
  <div class="hide" id="extended-options">
    <!-- TYPE OF STRUCTURE -->
    <div class="field">
      <label for="type-of-structure" class="title">Тип строения:</label>
      <div class="condition-block">
          <div id="type-of-structure">
            <input type="checkbox" id="tos1" name="type-of-structure" value="brick">
            <label for="tos1">Кирпичное</label> 
            <input type="checkbox" id="tos2" name="type-of-structure" value="panel">
            <label for="tos2">Панельное</label> 
            <input type="checkbox" id="tos3" name="type-of-structure" value="    cinderblock">
            <label for="tos3">Шлакоблочное</label>
            <input type="checkbox" id="tos4" name="type-of-structure" value="monolithic">
            <label for="tos4">Монолитное</label>
            <input type="checkbox" id="tos5" name="type-of-structure" value="wooden">
            <label for="tos5">Деревянное</label>
          </div>
      </div>  
    </div>
    <!-- YEAR OF CONSTURCTION -->
    <div class="field">
      <label for="year-of-constr" class="title">Год постройки:</label>
      <div class="condition-block">
        <div id="year-of-constr"></div>
      </div>
      <input type="text" id="year-of-constr-label" class="input-slider" name="year-of-constr">
    </div>
    <!-- PHONE: -->
    <div class="field">
      <label for="telephone" class="title">Телефон:</label>
      <div class="condition-block" id="telephone">
        <input type="radio" id="phone1" name="telephone" value="yes">
        <label for="phone1">Есть</label>
        <input type="radio" id="phone2" name="telephone" value="no">
        <label for="phone2">Нет</label>
        <input type="radio" id="phone3" name="telephone" value="unknown">
        <label for="phone3">Неизвестно</label>
      </div>
    </div>
    <!-- FURNITURE -->
    <div class="field">
      <label for="furniture" class="title">Мебель:</label>
      <div class="condition-block" id="furniture">
        <input type="radio" id="fur1" name="furniture" value="yes">
        <label for="fur1">Есть</label>
        <input type="radio" id="fur2" name="furniture" value="no">
        <label for="fur2">Нет</label>
        <input type="radio" id="fur3" name="furniture" value="unknown">
        <label for="fur3">Неизвестно</label>
      </div>
    </div>
    <!-- INTERNET: -->
    <div class="field">
      <label for="internet" class="title">Интернет:</label>
      <div class="condition-block" id="internet">
        <input type="radio" id="int1" name="internet" value="yes">
        <label for="int1">Есть</label>
        <input type="radio" id="int2" name="internet" value="no">
        <label for="int2">Нет</label>
        <input type="radio" id="int3" name="internet" value="unknown">
        <label for="int3">Неизвестно</label>
      </div>
    </div>
    <!-- BALCONY -->
    <div class="field">
      <label for="balcony" class="title">Балкон:</label>
      <div class="condition-block" id="balcony">
        <input type="checkbox" id="bal1" name="balcony" value="balcony">
        <label for="bal1">Балкон</label>
        <input type="checkbox" id="bal2" name="balcony" value="loggia">
        <label for="bal2">Лоджия</label>
        <input type="checkbox" id="bal3" name="balcony" value="no">
        <label for="bal3">Нет</label>                
        <input type="checkbox" id="bal4" name="balcony" value="unknown">
        <label for="bal4">Неизвестно</label>
      </div>
    </div>
     <!-- WC -->
      <div class="field">
        <label for="wc" class="title">Санузел:</label>
        <div class="condition-block" id="wc">
          <input type="radio" id="wc1" name="wc" value="separate">
          <label for="wc1">Раздельный</label>
          <input type="radio" id="wc2" name="wc" value="combined">
          <label for="wc2">Совмещенный</label>
          <input type="radio" id="wc3" name="wc" value="unknown">
          <label for="wc3">Неизвестно</label>
        </div>
      </div>
    <!-- LAYOUT -->
    <div class="field">
      <label for="layout" class="title">Планировка:</label>
      <div class="condition-block" id="layout">
        <input type="checkbox" id="la1" name="layout" value="stalinka">
        <label for="la1">"Сталинка"</label>
        <input type="checkbox" id="la2" name="layout" value="chrushevka">
        <label for="la2">"Хрущёвка"</label>
        <input type="checkbox" id="la3" name="layout" value="improved">
        <label for="la3">Улучшенная планировка</label>
        <input type="checkbox" id="la4" name="layout" value="new">
        <label for="la4">"Новая" планировка</label>
        <input type="checkbox" id="la5" name="layout" value="other">
        <label for="la5">Другая</label>
      </div>
    </div>
    <!-- STATE -->
    <div class="field">
      <label for="state" class="title">Состояние:</label>
      <div class="condition-block" id="state">
        <input type="checkbox" id="st1" name="state" value="euro">
        <label for="st1">Евроремонт</label>
        <input type="checkbox" id="st2" name="state" value="ideal">
        <label for="st2">Идеальное</label>
        <input type="checkbox" id="st3" name="state" value="good">
        <label for="st3">Хорошее</label>
        <input type="checkbox" id="st4" name="state" value="afterconst">
        <label for="st4">После строительства</label>
        <input type="checkbox" id="st5" name="state" value="requirerepairs">
        <label for="st5">Требуется ремонт</label>
        <input type="checkbox" id="st6" name="state" value="satisfactory">
        <label for="st6">Удовлетворительное</label>
      </div>
    </div>
  </div>
  <div id="search-bottom">
    <!-- EXTENDED SEARCH: -->
    <div id="extended-search">
      <span>Расширенный поиск</span>
    </div>
    <!-- SUBMIT SEARCH -->
    <div id="submit-search">
      <input type="submit" class="submit-button" value="Поиск">
    </div>
  </div>
  </form>
</div>