<div id="search-wrapper">
  <form action="">
    <div class="field">
      <label for="type-transaction">Тип сделки:</label>
      <input type="text" name="date" id="date" />
    </div>
  </form>
</div>