<div id="tran-chart" style="width: 560px; height: 300px;">
</div>
<script type="text/javascript" charset="urf-8">
  $(function() {
    new Highcharts.Chart({
      chart: { renderTo: 'tran-chart'},
      title: { text: 'Диаграмма'},
      xAxis: { type: 'datetime'},
      yAxis: {
        title: { text: 'Dollars'}
      },
      series: [{
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 2.weeks.ago.at_midnight.to_i * 1000 %>,
        data: <%= (2.weeks.ago.to_date..Date.today).map { |date| Transaction.total_on(date).to_f}.inspect %>
      }]
    });
  });
</script>
