<div class="links-type-subjects">
  <%= link_to 'all real estate', subjects_path %>
  <%= link_to 'active real estate', active_subjects_path %>
  <%= link_to 'not active real estate', inactive_subjects_path %>
</div>
<div class="clear"></div>