#show-customer{
  background:#F9F9F9;
  padding:10px;
  border:1px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
  font-size:15px;
  color:#111111;
  .field-customer{
    margin-bottom:15px;
    .title-field{
      color:#8B8B8B;
      display:inline-block;
      min-width:200px;
    }
  }
  .actions-with-customers{
    margin:25px 0px 10px 0px;
    a{
      margin-right:7px;
    }
  }
  .typecustomer{
    font-weight:bold;
  }
  .typetransaction{
    font-weight:bold;
  }
}
.links-type-customers{
  // border:1px solid #ccc;
  margin-top:12px;
  float:right;
  a{
    text-decoration:underline;
    margin-left:25px;
    font-size:18px;
    color:#626262;
    &:hover{
      color:#858585;  
    }
  }
}
