// variables:
$small-font: 0.8em/1.5em Arial, Tahoma, sans-serif;


body{
  padding-top: 60px;
}

#main-wrapper{
  // CONTENT
  #content{

  }

  // FOOTER
  #footer{
    font: $small-font;
    margin-top: 20px;
  }
}

// title page, example: "Настройки"
.title-page{
 font-size: 26px;
 margin-bottom: 10px;
 font-weight: normal;
}

// clear block
.clear{
  clear: both;
}

// button add
.button-add{
  margin:10px 0px 20px 0px;
}

// actions: show/edit/delete
.actions-buttons{
  a{
    margin-right:7px;
  }
}