#show-users{
  .info-user{
    background-color:#fcfcfc;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    h4{
      margin-top: 15px;
    }
  }
  #actions-users{
    margin-top: 30px;
  }
}
