<div id="tran-chart" style="width: 560px; height: 300px; float: left;">
</div>
<script type="text/javascript" charset="urf-8">
  $(function() {
    new Highcharts.Chart({
      chart: { renderTo: 'tran-chart', backgroundColor: "#F4F4FF"},
      title: { text: 'Неделя'},
      xAxis: { type: 'datetime'},
      yAxis: {
        title: { text: 'Деньги'}
      },
      tooltip: {
        formatter: function () {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + '$' + Highcharts.numberFormat(this.y, 2);
        }  
      },
      series: [{
        name: "Ship",
        pointInterval: <%= 1.day * 900 %>,
        pointStart: <%= 1.weeks.ago.at_midnight.to_i * 1000 %>,
        data: <%= (1.weeks.ago.to_date..Date.today).map { |date| Report.total_dollar(date).to_f}.inspect %>
      }]      
    });
  });
</script>
